.choose-date {
  margin: auto;
  width: 200px;
  padding: 20px;
}

.date-button {
  background-color: aquamarine;
  font-size: medium;
  width: 200px;
  padding: 20px;
}
table {
  margin: auto;
  padding: 20px;
  border: 2px solid black;
}
td {
  padding: 10px;
  text-align: center;
}

thead {
  background-color: red;
}

.daynames {
  background-color: black;
  color: red;
}

.selected-date {
  background-color: darkred;
}
